<%- include ('../layouts/header') %>
<%- include ('../layouts/sidebar') %>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
<link rel="stylesheet"
  href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
  integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css"
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>



<main class="page-content">
  <div class="container-fluid">
    <h2>
      <%=title%>
    </h2>
    <div>
      <a href="<%=adminbaseurl%>admin-user/list"> Admin List </a>
      <%- include ('../flashMessage') %>
    </div>
    <hr>


    <div class="container">
      <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data"
        action="<%= adminbaseurl %>admin-user">
        <div class="row">
          <div class="col-md-3 field-label-responsive">
            <label for="name">Name</label>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                <input type="text" name="name" class="form-control" id="name" placeholder="John Doe"
                  value="<%=arrUserData ? arrUserData.name : '' %>" required>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 field-label-responsive">
            <label for="name">User Name</label>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                <input type="text" name="username" class="form-control" id="username" placeholder="JohnDoe"
                  value="<%=arrUserData ? arrUserData.username : '' %>" required>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 field-label-responsive">
            <label for="email">E-Mail Address</label>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                <input type="text" name="email" class="form-control" id="email" placeholder="you@example.com"
                  value="<%=arrUserData ? arrUserData.email : '' %>" required>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 field-label-responsive">
            <label for="password">Password</label>
          </div>
          <div class="col-md-6">
            <div class="form-group has-danger">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                <input type="password" name="password" class="form-control" id="password" placeholder="Password"
                  onChange="onChange()" value="<%=arrUserData ? arrUserData.password : '' %>" required>
              </div>
            </div>
          </div>
        </div>

        <% if(arrUserData == null && arrUserData =='') {%>
        <div class="row">
          <div class="col-md-3 field-label-responsive">
            <label for="password">Confirm Password</label>

          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon" style="width: 2.6rem">
                  <i class="fa fa-repeat"></i>
                </div>
                <input type="password" name="confirm_password" class="form-control" id="confirm_password"
                  placeholder="Confirm Password" onChange="onChange()"
                  value="<%=arrUserData ? arrUserData.confirm_password : '' %>" required>

              </div>
            </div>
          </div>
        </div>
        <%}%>
        <div class="row">
          <div class="col-md-3 field-label-responsive">
            <label for="mobile">Mobile No</label>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-phone"></i></div>
                <input type="text" name="mobile" class="form-control" id="mobile" placeholder="your mobile no"
                  value="<%=arrUserData ? arrUserData.mobile : '' %>" required>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 field-label-responsive">
            <label>Active</label>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-phone"></i></div>
                <select class="form-control" name="status">
                  <option value=''>choose....</option>
                  <option <% if(arrUserData.status=='Yes'){ %>selected="selected" <% }%> value="Yes">Yes
                  </option>
                  <option <% if(arrUserData.status=='No'){ %>selected="selected" <% }%> value="No">
                    No</option>
                  <option <% if(arrUserData.status=='Blocked'){ %>selected="selected" <% }%> value="Blocked">Blocked
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 field-label-responsive">
            <label for="name">Image</label>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-phone"></i></div>
                <input type="file" class="form-group" id="image" name="image" accept="image/*" onchange="preView()"
                  value="<%= arrUserData ? arrUserData.image : '' %>">
                <% if(arrUserData.image !='' && arrUserData.image != null){%>
                <img id="preview"
                  src="<%= baseurl + 'admin/web-contents/Admin/'+arrUserData.admin_id+'/' + arrUserData.image %>"
                  style="height:80px;width:80px;" class="img-thumbnail" />
                <% }else{ %>
                <img id="preview" src="<%= baseurl + 'user.png' %>" style="height:80px;width:80px;"
                  class="img-thumbnail" />
                <% } %>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-12">
            <input type="hidden" name="form_admin_id" value="<%= arrUserData ? arrUserData.admin_id : '' %>">
            <button type="submit" style="float: right;" class="btn btn-success"><i class="fa fa-user-plus"></i>
              <%= arrUserData ? 'Update' : 'Submit' %></button>
          </div>
        </div>
      </form>
    </div>

    <%- include ('../layouts/footer') %>

    <script>
      function preView() {
        var fileInput = document.getElementById('image');
        var filePath = fileInput.value;
        var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
        if (!allowedExtensions.exec(filePath)) {
          fileInput.value = '';
          return false;
        } else {
          //Image preview
          if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();
            reader.onload = function () {
              var output = document.getElementById('preview');
              output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
            $("#image-error").remove();
          };
        }
        // $("#x_content").click(); 
      }
    </script>
    <script>
      function onChange() {
        const password = document.querySelector('input[name=password]');
        const confirm = document.querySelector('input[name=confirm_password]');
        if (confirm.value === password.value) {
          confirm.setCustomValidity('');
        } else {
          confirm.setCustomValidity('Passwords do not match');
        }
      }
    </script>