<%- include ('../layouts/header') %>
<%- include ('../layouts/sidebar') %>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">


<main class="page-content">
    <div class="container-fluid">
      <h2><%=title%></h2>
      <div>
          <a href="<%=adminbaseurl%>developer"> Add Developer </a>          
          <%- include ('../flashMessage') %>
      </div>
        <div class="row col-sm-12 filterSelect">
            <div class="col-md-4">
                <select class="form-control">
                    <option value="" selected disabled>Select</option>
                    <option value="name">Name</option>
                    <option value="email">Email</option>
                </select>
            </div>
            <div class="col-md-4">
                <input type="text" name="filterValue" id="filterValue" value="" placeholder="name/email" class="form-control">
            </div>           
            
            <button type="submit">Search</button>
        </div>
      <hr>
      <div class="table-responsive">
          <table id="developerList" class="table" cellspacing="0" width="100%">
              <thead>
                  <tr>
                      <th class="text-center">SL</th>
                      <th class="text-center">Image</th>
                      <th class="text-center">Name</th>
                      <th class="text-center">Email</th>
                      <th class="text-center">Position</th>
                      <th class="text-center">Active</th>
                      <th class="text-center">Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <% var i=1; userTableDetails.forEach(function(val){ %>
                  <tr>
                      <td class="text-center"><%= i; %> <%! i++; %> </td>
                      <td class="text-center"> <%
                          var image = 'Developer/'+val.dev_id+'/'+val.image;
                          if(helper.isFileExistsIn(image)) image = adminbaseurl +'web-contents/'+  image;
                          else image = baseurl + "user.png";
                          %>
                          <img src="<%= image %>" class="oc-profile-picture" style="width: 50px; height: 50px;"></td>
                          <td class="text-center"><%= val.name %></td>
                          <td class="text-center"><%= val.email %></td>
                          <td class="text-center"><%= val.role_name %></td>
                          <td class="text-center"><button> <%= val.status %> </button> </td>
                          <td class="text-center">
                          <a rel="tooltip" class="btn btn-success btn-just-icon btn-sm"
                              href="<%= adminbaseurl%>developer/<%= val.user_id %>" data-original-title="" title="">
                              <i class="material-icons">edit</i>
                          </a>
                          <a rel="tooltip" class="btn btn-danger btn-just-icon btn-sm"
                              onclick="return confirm('Are you sure to delete?')"
                              href="<%= adminbaseurl%>developer/delete/<%= val.user_id %>" data-original-title=""
                              title="">
                              <i class="material-icons">close</i>
                          </a>
                      </td>
                  </tr>
                  <% }) %>
              </tbody>
          </table>
      </div>
<%- include ('../layouts/footer') %>

<style>
    .filterSelect{
        float: right;
        position: relative;
        bottom: 33px;
        max-width: 42%;
    }
</style>

