<%- include ('../layouts/login_header') %>

<link rel="stylesheet" href="<%=baseurl%>admin/assets/css/login.css">

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title%></title>
</head>
<body>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <img src="<%=baseurl%>ETMS_logo.png" id="icon" alt="User Icon" />
      </div>

      <!-- Login Form -->
      <form novalidate action="" method="post" id="formLogin" enctype="multipart/form-data">
        <input type="text" class="fadeIn" name="fullname" placeholder="Name">
        <input type="text" class="fadeIn" name="email" placeholder="Email">
        <input type="text" class="fadeIn" name="username" placeholder="Username">
        <input type="password" class="fadeIn" name="password" placeholder="Password">
        <select name="role" id="role" class="fadeInDown" >
          <option value="" selected disabled>Select Type</option>
          <% roles.forEach(val=>{ %>
            <option value="<%= val.role_id %>"><%= val.role_name %></option>
          <% }) %>          
        </select>
        <input type="submit" class="fadeIn" value="Sign">
        <label class="error"><%- include ('../layouts/op_message') %></label>
      </form>

      <!-- Remind Passowrd -->
      <!-- <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div> -->

    </div>
  </div>
</body>
</html>
<%- include ('../layouts/login_footer') %>