<%- include ('../layouts/header') %>
<%- include ('../layouts/sidebar') %>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">


<main class="page-content">
    <div class="container-fluid">
      <h2><%=title%></h2> 
        <button type="button" class="btn btn-primary projectFilter">All</button>
        <% projects.forEach(val=>{ %>
            <button type="button" class="btn btn-primary projectFilter"><%= val.project_name%></button>
        <% }) %>
        <%- include ('../flashMessage') %>
      <hr>

   
    <div class="row">
        <div class="col-md-4">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>
                            <form class="well form-horizontal">
                                <fieldset>                                    
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <select class="selectpicker form-control">
                                                <option>0</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input id="module_name" name="module_name" placeholder="Module Name" class="form-control" required="true" value="" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <textarea id="task_name" name="task_name" placeholder="Task" class="form-control" required="true" value="" type="text"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input id="start_time" name="start_time" placeholder="Start Time" class="form-control" required="true" value="" type="time">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input id="end_time" name="end_time" placeholder="End Time" class="form-control" required="true" value="" type="time">
                                        </div>
                                    </div>
                                </fieldset>
                                <input type="submit" value="Submit" class="sumitFrom">
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-8 table-container">
            <table class="table table-filter">
                <tbody>
                    <tr data-status="pagado">                            
                        <td>
                            <div class="media">                                   
                                <div class="media-body">
                                    <span class="media-meta pull-right">Febrero 13, 2016</span>
                                    <h4 class="title">
                                        Lorem Impsum
                                        <span class="pull-right pagado">(Pagado)</span>
                                    </h4>
                                    <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p>
                                </div>
                            </div>
                        </td>
    
                        <td>
                            view
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>       

    




<style>

.sumitFrom{
    float: right;
    border: none;
    background-color: #2bbce4;
    padding: 9px;
    border-radius: 5px;
}

.modal {
  /* background: green; */
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.panel .btn-group .btn {
	transition: background-color .3s ease;
}
.table-filter {
	background-color: #fff;
	border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
}
.table-filter tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #eee;
}
.table-filter tbody tr.selected td {
	background-color: #eee;
}
.table-filter tr td:first-child {
	width: 38px;
}
.table-filter tr td:nth-child(2) {
	width: 35px;
}
.table-filter .star {
	color: #ccc;
	text-align: center;
	display: block;
}
.table-filter .star.star-checked {
	color: #F0AD4E;
}
.table-filter .star:hover {
	color: #ccc;
}
.table-filter .star.star-checked:hover {
	color: #F0AD4E;
}
.table-filter .media-photo {
	width: 35px;
}
.table-filter .media-body {
    display: block;
    /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
}
.table-filter .media-meta {
	font-size: 11px;
	color: #999;
}
.table-filter .media .title {
	color: #2BBCDE;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
}
.table-filter .media .title span {
	font-size: .8em;
	margin-right: 20px;
}
.table-filter .media .title span.pagado {
	color: #5cb85c;
}
.table-filter .media .title span.pendiente {
	color: #f0ad4e;
}
.table-filter .media .title span.cancelado {
	color: #d9534f;
}
.table-filter .media .summary {
	font-size: 14px;
}
    </style>



<%- include ('../layouts/footer') %>